{% extends "base.html" %}
{% block title %} Effacer une Personne {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Effacer une Personne</h3>
            <form action="" method="POST" novalidate>
                {{ form_delete.hidden_tag() }}
                <div class="form-group">
                    {{ form_delete.nom_genre_delete_wtf.label }}<br>
                    {{ form_delete.nom_genre_delete_wtf(size=32) }}<br>
                </div>
                {% if data_films_associes %}
                    <h4>Ce genre est associé avec le(s) film(s) suivant(s) :</h4>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>FILM(S)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for film in data_films_associes %}
                            <tr>
                                <td>{{ film.Nom }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>Ce genre n'est associé à aucun film.</h4>
                {% endif %}
                {{ form_delete.submit_btn_conf_del(class="btn btn-warning") }}
                {% if btn_submit_del %}
                    {{ form_delete.submit_btn_del(class="btn btn-danger") }}
                {% endif %}
                {{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
