{% extends "base.html" %}
{% block title %} Mettre à Jour Liaison {% endblock %}
{% block body %}
<div class="container">
    <h1>Mettre à Jour une Liaison</h1>
    <form method="POST">
        {{ form_update.hidden_tag() }}
            <div class="form-group">
                {{ form_update.ID_Personne_Credentials(class="form-control") }}
            </div>
        <div class="form-group">
            {{ form_update.FK_Personne_wtf.label }} {{ form_update.FK_Personne_wtf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.FK_Credentials_wtf.label }} {{ form_update.FK_Credentials_wtf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
