{% extends "base.html" %}
{% block title %} Ajouter une liaison credential (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle liaison (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.FK_Personne.label }}<br>
						{{ form.FK_Personne(size=32) }}<br>
						{% for error in form.FK_Personne.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				<div class="form-group">
					<p>
						{{ form.FK_Credentials.label }}<br>
						{{ form.FK_Credentials(size=32) }}<br>
						{% for error in form.FK_Credentials.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
