{% extends "base.html" %}
{% block title %}Afficher Matériel{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Matériel</h1>
            <table class="table table-bordered table-sm">
                {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">Nom</th>
                        <th class="align-middle">Description</th>
                        <th class="align-middle">Quantité</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td class="align-middle">{{ row.Nom }}</td>
                        <td class="align-middle">{{ row.Description }}</td>
                        <td class="align-middle">{{ row.Quantite }}</td>
                        <td class="text-center align-middle">
                            <a class="btn btn-primary" href="{{ url_for('materiel_ajouter_wtf') }}" role="button">Ajouter</a>
                            <a class="btn btn-warning" href="{{ url_for('materiel_update_wtf', id_materiel=row.ID_Materiel) }}" role="button">Editer</a>
                            <a class="btn btn-danger" href="{{ url_for('materiel_delete_wtf', id_materiel=row.ID_Materiel) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <td colspan="3">Aucun matériel disponible.</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('materiel_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
